<% content_for(:description) do %>
Mes céramiques sont en XXX. Le décor est composé de XXX. Ma production est constituée par des pièces uniques, utilitaires ou décoratives. Retrouvez dans la boutique des XXX ...
<% end %>
<% content_for(:title_tag) do %>
  Les céramiques artisanales à vendre dans la boutique de Carole Kaltenbacher
<% end %>
<% if @front_offer %>
  <% content_for(:meta_image) do %>
    <%= cl_image_path @front_offer.ceramiques.first.photos[0].path %>
  <% end %>
  <% content_for(:description) do %>
    <% @front_offer.discount > 0 ? discount = " - Réduction de #{(@front_offer.discount * 100).to_i} % " : discount = "" %>
    <%= "#{@front_offer.title} #{discount} - #{@front_offer.description}".squish %>
  <% end %>
<% end %>

<%= render 'shared/lighttheme_photo_loading'%>

<%= render  'shared/ceramique_cards_lighttheme'%>

<%= render 'shared/subscribe' %>

<% content_for(:after_js) do %>
  <!-- Include AlgoliaSearch JS Client and autocomplete.js library -->
  <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
  <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>

  <!-- Initialize autocomplete menu -->
  <script>
  var algoliaAPPID = String('<%=ENV['ALGOLIAPPID']%>')
  var algoliasearchKey = String('<%=ENV['ALGOLISEARCHKEY']%>')
  var client = algoliasearch(algoliaAPPID, algoliasearchKey);
  var index = client.initIndex('Ceramique');
  //initialize autocomplete on search input (ID selector must match)
  autocomplete('#aa-search-input',
  { hint: false }, {
      source: autocomplete.sources.hits(index, {hitsPerPage: 5}),
      //value to be displayed in input control after user's suggestion selection
      displayKey: 'name',
      //hash of templates used when rendering dataset
      templates: {
          //'suggestion' templating function used to render a single suggestion
          suggestion: function(suggestion) {
            return '<span>' + suggestion._highlightResult.name.value + '</span>'
            + '<span>' + suggestion._highlightResult.description.value + '</span>'
            +'<span>' + suggestion._highlightResult.category.name.value + '</span>';
          }
      }
  });
  </script>
<% end %>
